@import "../../../styles/colors.scss";
@import "../../../styles/fonts.scss";

.directory-container {
    display: flex;

    & .title {
        font-size: 16px;
        font-family: $font-asap;
        margin-left: 2vw;
        margin-bottom: 0;
        margin-top: 0;
    }
}

.breadcrumb {
  align-self: center;
  margin-left: 10px;
}

.route-breadcrumb {
  color: black;
  font-family: $font-asap;
  font-size: 16px;
  text-decoration: none;
}

.route-breadcrumb:hover {
  color: $orange-active;
}

.route-refresh-container {
    align-items: center;
    background-color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

@media (min-width: 1024px) {
    .directory-container {
        & .title { 
            margin-left: 1vw;
        }
    }
}
