.is-loading {
  align-items: center;
  display: flex;

  &::after {
    content: "";
    width: 60px;
    height: 60px;
    border: 5px solid transparent;
    border-top-color: #FFA834;
    border-radius: 50%;
    animation: spin 0.7s infinite;
  }
}

.hide-loading {
  display: none;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
