@import "../../../styles/fonts.scss";

.popup-background {
  background-color: rgba(0,0,0, 0.5);
  height: 100%;
  left: 0;
  opacity: 0.2;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 1;
}

.show-popup {
  font-family: $font-quick;
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: white;
}

.hide-popup {
  display: none;
}