@import "../../../styles/colors.scss";

.hide {
  display: none;
}

#progress-input {
  background: white;
  margin: 0;
  padding: 0;
  width: 100%;
}

#progress-input[type=range]::-webkit-slider-thumb {
  background-color: white;
  width: 20px;
  height: 20px;
  border: 2px solid $not-so-soft-gray;
  border-radius: 50%;
  margin-top: -9px;
}

#progress-input[type=range]::-moz-range-thumb {
  background-color: white;
  width: 15px;
  height: 15px;
  border: 2px solid $not-so-soft-gray;
  border-radius: 50%;
}

#progress-input[type=range]::-ms-thumb {
  background-color: white;
  width: 20px;
  height: 20px;
  border: 2px solid $not-so-soft-gray;
  border-radius: 50%;
}

#progress-input[type=range]::-webkit-slider-runnable-track  {
  height: 10px;
  background-image: -webkit-linear-gradient(left, black 50%, white 50%);
}
#progress-input[type=range]::-moz-range-track{
  height: 10px;
  background-image:-moz-linear-gradient(left, black 50%, white 50%);
}