@import "../../../../styles/colors";

$thumb-height: 15px;
$thumb-width: 15px;

.hide {
  display: none;
}

#progress-input {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 5px;
  opacity: 1;
  outline: none;
  margin: 0 auto;
}

#progress-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: white;
}

#progress-input::-webkit-slider-thumb, #progress-input::-webkit-slider-thumb {
  border: 1px solid $not-so-soft-gray;
  border-radius: 50%;
  height: $thumb-height;
  width: $thumb-width;
}

@for $i from 0 through 100 {
  .progress-#{$i} {
    background: linear-gradient(90deg, #FFA834 $i * 1%, white $i * 1%);
  }
}
