@import "../../../../styles/colors";

$thumb-height: 15px;
$thumb-width: 15px;

.hide {
  display: none;
}

#progress-input {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 5px;
  opacity: 1;
  outline: none;
  margin: 0 auto;
}

#progress-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: white;
  border: 1px solid $not-so-soft-gray;
  border-radius: 50%;
  height: $thumb-height;
  width: 15px;
}

#progress-input::-moz-range-thumb {
  border: 1px solid $not-so-soft-gray;
  border-radius: 50%;
  height: $thumb-height;
  width: $thumb-width;
}
